@import "__mixin";
@import "__variables";


.about-block {
    display: flex;
    align-items: flex-start;
}

.about-left {
    background: $textGray;
    border-radius: 16px;

    .about-title {
        @include fontH1;
        // margin-bottom: 62px;
        padding: 40px;
    }

    .about-subtitle {
        max-width: 60%;
        padding: 40px;
    }
}

.about-right {
    display: grid;
    grid-template: auto / auto auto auto;

    .about-item {
        background: $textGray;
        border-radius: 16px;
    }
}