@import "__variables";

.card {
    margin: 32px 40px 0;
    border-radius: 16px;
    background: $buttonBG;
    color: $textWhite;

    .wrapper {
        padding: 40px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

    }
}

.info {
    width: 552px;

    h1 {
        font-size: 3.5rem;
        margin-bottom: 32px;
    }

    .frame {
        display: flex;
        justify-content: space-between;
        padding: 12px 0;
        border-bottom: 1px solid $line;
        color: $textGrey;
    }

    .price {
        margin: 88px 0 32px;
        border-bottom: 1px solid $line;
        padding-bottom: 12px;
        font-size: 1.8rem;
    }
}

.wrapper-image {
    background: $textWhite;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.down-block {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .down-block-arrows:nth-child(2) {
        margin-right: 55px;
    }

    #leftArrow {
        margin-right: 8px;

    }

    button {
        &:hover {
            background: $line;
        }
    }
}