@import "__variables";

.card {
    margin-top: 32px;
    border-radius: 16px;
    background: $buttonBG;
    color: $textWhite;

    .wrapper {
        padding: 40px;
        display: flex;
        flex-wrap: wrap;

        h1 {
            font-size: 40px;
        }
    }
}