@import "__variables";

.card {
    margin: 32px 40px 0;
    border-radius: 16px;
    background: $buttonBG;
    color: $textWhite;

    .wrapper {
        padding: 40px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

    }
}

.info {
    width: 552px;

    h1 {
        font-size: 3.5rem;
    }
}

.wrapper-image {
    background: $textWhite;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 50px;
    // width: 576px;
    // height: 420px;
}


.down-block {
    display: flex;
    justify-content: space-between;
    width: 100%;
}