@import "__variables";

@mixin buttonGrey {
    width: auto;
    padding: 12px 20px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    text-align: center;
    background: $textGray;
    cursor: pointer;

    &:hover {
        background: $buttonBG;
        color: $textWhite;
        transition: .3s ease;
    }

}

@mixin linkGrey {
    width: auto;
    background: $textGray;
    cursor: pointer;

    &:hover {
        color: $textBlack;
        transition: .3s ease;
        transform: translateY(-3px);
    }


}