@import "__variables";

@mixin buttonGrey {
    width: auto;
    padding: 12px 20px;
    border-radius: 5px;
    border: none;
    font-size: 1.2rem;
    text-align: center;
    background: $textGray;
    cursor: pointer;
    font-family: "Golos Text", sans-serif;
    font-weight: 500;

    &:hover {
        background: $buttonBG;
        color: $textWhite;
        transition: .3s ease;
    }

}

@mixin linkGrey {
    width: auto;
    background: $textGray;
    cursor: pointer;

    &:hover {
        color: $textBlack;
        transition: .3s ease;
        transform: translateY(-3px);
    }


}