@import "__variables";
@import "__fonts";

@mixin buttonGrey {
    width: auto;
    padding: 12px 20px;
    border-radius: 5px;
    border: none;
    font-size: 1.2rem;
    text-align: center;
    background: $textGray;
    cursor: pointer;
    font-family: "Golos Text", sans-serif;
    font-weight: 500;

    &:hover {
        background: $buttonBG;
        color: $textWhite;
        transition: .3s ease;
    }

}

@mixin linkGrey {
    width: auto;
    background: $textGray;
    cursor: pointer;

    &:hover {
        color: $textBlack;
        transition: .3s ease;
        transform: translateY(-3px);
    }
}

@mixin fontH1 {
    font-size: 40px;
    line-height: 48px;
    font-family: "Golos Text", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
@mixin fontH3 {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 1%;
    font-family: "Golos Text", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}