@import "__fonts";
@import "__reset";
@import "__mixin";
@import "__variables";

@import "__header";
@import "__slider";
@import "__card";

body {
    font-family: "Golos Text", sans-serif;
    font-weight: 400;
    cursor: default;
    font-size: 16px;
}

.container {
    width: 1280px;
    margin: 0 auto;
    background: $textWhite;

    .wrapper {
        
    }
}